@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}


*{

    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: #FEFAE0 ;
}

a{
    text-decoration: none;

}
body{
    font-family: 'Fira Code';
    color: #B8712C;
    background-color: #FEFAE0 ;


}

nav {
    width: 100%;
    margin: auto;
    /* border: 1px solid #1E2D3D; Add the 'solid' style and set the color */
    padding: 17.6px 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    z-index: 10;
    position: fixed;
    top: 0; 
    overflow: hidden;
}
.my-name{
    max-width: 311px;
}
 .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

ul.nav-links{
    margin-top: 0px;
    margin-bottom: 0px;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #B8712C;
}

.link a:hover{
    text-decoration: none;
}

.link a::after{
    content: "";
    
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #93A168;
    transition: all 0.25s ease;
}

.link a:hover::after{
    width: 85%;
}

.right-nav{
    /* position: fixed; */
    margin-left: auto;
    /* right:0; */
    /* top: 0; */
}


/* TODO: current btn is just words, change it to the icons */

.btn:hover{
    color: black;
}
.ri-mail-fill{
    color: #9E5C1A;
    font-size: 20px;
}

.ri.ri-mail-fill:hover{
    opacity: 80%;
}
.ri-github-fill{
    color: #9E5C1A;
    font-size: 20px;
}

.ri-github-fill:hover{
    opacity: 80%;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;

}

.container{
    margin:auto;
    padding-top: 20rem;
}


.hi-all{
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.my-name{
    color: #9E5C1A;
    font-family: Fira Code;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.software-engineering-student{
    color: #93A168;
    font-family: Fira Code;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.complete-comment{
    padding-top: 4rem;
    color: #776a48;
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.github-link{
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pagebreak{
    block-size: 360px;
}

.container .header {
    color: #9E5C1A;
    font-family: Fira Code;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#about-me li{
    list-style: none;
    color: #9E5C1A;
    font-family: Fira Code;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 27px */

}
#about-me li::before{
    content: counter(list-item)"\a0\a0";
    margin-left: 3rem;
}

section#projects.container{
    padding-top: 5rem;
}

.card-deck{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.card{
    border-radius: 15px;
    /* border: 1px solid #D4A373; */
    background-color: #EBE5C1;
    width: 100%;
    height: 80%;
    /* max-width: 362px;
    max-height: 343px; */
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px #46290B20, 0 4px 8px #46290B20;
}
.card-body{
    border-radius: 0px 0px 15px 15px;
    background-color: #EBE5C1;
    padding: 1.8rem 2.2rem;


}

.card-body::after{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    /* box-sizing:content-box; */
}


.card-img-top{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height:50%;
    filter: brightness(95%);

}

.card-title-x{
    color: #5565E8;
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    margin: 1rem 1rem;
    /* background-color: #EBE5C1; */
    top: -55px;
    left: -14px;
    position: absolute;
    

}

.card-title-x span{
    /* background-color: #EBE5C1; */
    color: #607B96;
    font-weight: 450;

}

.card-text{
    color: #1E2D3D;
    font-family: Fira Code;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 22.5px */
    background-color: #EBE5C1;

}

.card-languages{
    margin-top: 1.5rem;
    color: #1E2D3D;
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 15px */
    background-color: #EBE5C1;

}

.card-btn{
    display: flex;
    width: 115px;
    height: 34px;
    padding: 10px 14px;
    gap: 10px;
    border-radius: 8px;
    background: #CCD5AE;
    color: #01080E;
    text-align: right;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.card-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px #93A16820, 0 4px 8px #93A16820;
}